button>body {
    background: #343434;
    border: 1px;
    border-color: #474747;
}

button>body:active {
    background: #282828;
    border: 1px;
    border-color: #3f3f3f;
}

button>text {
    color: #ffffff;
}