name: Go
on:
  pull_request:
    types: [ opened, reopened ]
jobs:

  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v4
        name: Download Go
        with:
          go-version: '1.20'
      - name: Test
        run: go test -v .\ui\...